/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button {
    font: inherit;
    border: none;
    cursor: pointer;
}
dialog {
    border: none;
    margin: auto; /* centering */
}

#bookshelf {
    min-height: 100dvh;
    display: flex;
    align-items: end;
    gap: 8px;
    background-color: #ccc;
}
.book {
    height: 560px;
    writing-mode: vertical-rl;
    text-align: start;
    padding: 20px 10px;
    font-size: 30px;
    background-color: #eee;
}
#book-modal {
    border-radius: 5px;
    form {
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
}
