/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input, textarea, button {
    font: inherit;
}
textarea {
    resize: none;
}
input {
    min-width: min-content;
}
button {
    border: none;
    cursor: pointer;
}
dialog {
    border: none;
    margin: auto; /* centering */
}

#bookshelf {
    min-height: 100dvh;
    display: flex;
    align-items: end;
    gap: 8px;
    background-color: #ccc;
}
.book {
    height: 560px;
    writing-mode: vertical-rl;
    text-align: start;
    padding: 20px 10px;
    font-size: 30px;
    background-color: #eee;
    &.add-book {
        margin-left: auto;
        width: 53px;
        background-color: #eee4;
        border: 5px dashed #eee;
    }
}
#book-modal {
    border-radius: 5px;
    form {
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 6px;
        [contenteditable] {
            border: 1px solid #aaa;
            border-radius: 5px;
            padding: 2px;
            background-color: #f7f7f7;
            display: inline-block;
            min-width: 1ch;
        }
    }
}
